input {
    border-radius: 25px;
    border: none;
    background-color: #EEF1F6;
    font-size: 13px;
    width: 19vw;
    height: 5vh;
    position: relative;
    padding-left: 32px;
}

.search img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.nameCrypto {
    position: absolute;
    top: 17vh;
    right: 30vw;
    border-radius: 30px;
    background-color: #C1EE0A;
    color: black;
    font-size: 10px;
    text-align: center;
}

.priceCrypto {
    position: absolute;
    top: 17vh;
    right: 30vw;
}

.nameCrypto h1 {
    margin: 20px;
    margin-top: 5px;
}

.search {
    position: relative;
}

.containerCards {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 90vh;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 40px;
    overflow: hidden;
}

.crypto:hover {
    opacity: 0.5;
    cursor: pointer;
}

.containerGraph {
    border: 2px solid black;
    width: 100%;
    margin: 30px;
    border-radius: 15px;
    background-color: black;
    color: white;
    overflow: hidden;
}

.titleGraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
    overflow: hidden;
}

.titleGraph h1 {
    font-size: 70px;
    font-weight: normal;
    margin-bottom: 1px;

}

.titleGraph p {
    text-align: start;
    color: #808080;
    font-size: 20px;
}

.titleCrypto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    overflow: hidden;
}

.titleCrypto p {
    margin-top: 0;
    margin-bottom: 5px;
}

.containerPanel {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 20px;
    margin-left: auto;
    margin-top: 20px;
    overflow: hidden;
}

.containerTitle {
    height: 30vh;
    overflow: hidden;
}

.containerTitle p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.containerCryptos {
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 5px;
}

.horizontalLine {
    border: none;
    border-top: 1px solid #E0E0E0;
}

.crypto {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.crypto img {
    width: 16%;
    height: 16%;
}

.crypto p {
    margin-left: auto;
}



@media (max-width: 768px) {

    .containerGraph {
        width: 60vw;
    }

    .crypto {
        margin-top: 21px;
    }

    .containerCards {
        margin-left: 20px;
        width: 90vw;
        height: 90vh;
        overflow: hidden;
    }

    input {
        width: 21vw;
        font-size: 10px;
    }

    .search img {
        right: 5px;
    }

    .titleGraph h1 {
        font-size: 50px;

    }

    .titleGraph p {
        text-align: start;
        color: #808080;
        font-size: 13px;
    }

    .nameCrypto {
        top: 30vh;
        right: 42vw;
    }

    .nameCrypto h1 {
        margin: 3px;
        font-size: 20px !important;
    }

    .priceCrypto p{
        font-size: 20px !important;
    }

    .priceCrypto {
        top: 32vh;
        right: 43vw;
    }
}